GEMINI_API_KEY=

ORACLE_USER=ADMIN
ORACLE_PASSWORD=senha_aqui
ORACLE_DSN=stns_alias_aqui

ORACLE_WALLET_PASSWORD=senha_da_wallet_aqui

# Nome do modelo de embedding local
MODELO_EMBEDDING=all-MiniLM-L6-v2