# Chave de API do Google Gemini
GEMINI_API_KEY=sua_chave_aqui

ORACLE_USER=ADMIN
ORACLE_PASSWORD=sua_senha_aqui
ORACLE_DSN=(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=seu_host.oraclecloud.com))(connect_data=(service_name=seu_service_name.adb.oraclecloud.com))(security=(ssl_server_cert_dn="CN=seu_host.oraclecloud.com")))

# Nome do modelo de embedding local
MODELO_EMBEDDING=all-MiniLM-L6-v2